#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Pokedux {
  width: 300px;
  align-self: center;
  margin-bottom: 50px;
}

.pokemonList {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
